p,small a{color:#ff0537}.buy-on-steam,.buy-on-steam:hover,small a{text-decoration:none}.content,.header{text-align:center}body{margin:0;background:url(../images/bg.jpg) center top no-repeat fixed #3A3530;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px}small{padding-bottom:1em}.buy-on-steam{background:#ff0537;padding:20px 25px;font-family:Helvetica,Arial,sans-serif;color:#fff;margin:auto}.buy-on-steam:hover{background:#ba0025}
.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

p,small a{color:#7c9aae}.col-4:after,.col-4:before,.row:after,.row:before{content:'';display:table}.buy-on-steam,.buy-on-steam:hover,small a{text-decoration:none}.col-4,.content,
.header{text-align:center}
body{margin:0;background:url(../roguemance/RoguemanceThumb011.jpg) no-repeat fixed #3A3530;background-size:cover;background-position: top center;
font-family:'Arial', sans-serif;font-size:16px}small{padding-bottom:1em}.row{width:100%;margin:3em 0}
.row:after{clear:both}.col-4{float:left;clear:none;width:30%;margin-left:10%;margin-right:10%}.col-4 p span,
.content .screenshots img{width:100%},.header img{display:block}.col-4:after{clear:both}.col-4:last-child{margin-right:10px}.col-4 img{margin:0 auto}.col-4 p{margin:0em auto; margin-left:1em; margin-right:1em}
.col-4 p span{font-size:4em;font-family: 'Arial', sans-serif; color:white;  letter-spacing: 3px; margin-bottom:8px; margin:auto}.fit { height:100%; width:auto; }


.container{margin:auto; margin-top:40%}.header{box-sizing:border-box;

overflow:hidden;padding:0px;margin-top:0px;margin-bottom:0px}.header iframe{width:640px;height:360px;
margin-right:10px;float:left}.header img{margin:0 auto}.header .buy-container{padding-top:15px}.content{margin-bottom:2em}.content img{max-width:100%}.content .cta,.content .quotes,.content .screenshots{margin-bottom:30px}.content .quotes{padding-bottom:3em}.content .quotes p{margin-top:3em} .quotes p mine {font-style:italic; font-family: 'Renaissance-Antiqua', serif; color:white;  letter-spacing: 0px; font-size:1.2em}.content .cta .purchase-row{padding:30px 0 20px}.content #contact-email{display:block;margin-top:1em}.content .cta,.content .quotes,.content .screenshots,.content-bg,
.header{border:0px solid #ffffff;background:#f44277;background:url(../roguemance/backgroundBig.png)}

.header2{border:0px solid #ffffff;background:#f44277;background:url(../roguemance/backgroundBig2.png)}.info{border:1px solid #1c0310;background:#1c0310; margin:auto}
.screenshots{border:0px solid #56473B;background:#00000000; margin:auto; max-width:1200px}
.photo{border:0px solid #56473B;background:rgba(255,255,255,0); margin:auto; max-width:666px;}
.paintings{border:0px solid #000000;background:rgba#000000; margin:auto; max-width:750px; margin-top:20px; margin-bottom:20px}

{.header{margin-top:0;width:100%}.header iframe{width:100%;float:none}.header 
.info {margin-top:0em}
.header .buy-container{margin-top:0;margin-bottom:1em}.content{margin-bottom:0}}@media (max-width:568px){.col-4{float:center;clear:none;text-align:center;width:100%;margin-left:3%;margin-right:0px;margin-bottom:2em}.col-4:after,.col-4:before{content:'';display:table}.col-4:after{clear:both}.col-4:last-child{margin-right:0}}


#wrap {
   width:10%;
   margin:auto;
}
#left_col {
	margin:0px;
   float:right;
   width:50%;
}
#right_col {
	margin:0px;
   float:right;
   width:50%;
}

p.bright {
    
	font-size: 20px;
	color:white;
	margin-top:50px;
}

p.bright2 {
    
	font-size: 20px;
	color:white;
	margin-top:5px;
}

p.end {
	font-size: 16px;
	color:#7c9aae;
	margin-top:40px;
	margin-bottom:40px;
}

p.menu {
	font-size: 16px;
	padding-left:40px;
	margin-right:40px;
	max-width: 300px;
	color: #7c9aae;
}


a.title:link {
    color: #FF0940;
	font-family: 'Renaissance-Antiqua', serif; letter-spacing: 3px; margin-bottom:8px;
	font-size:22px;
}

a.title:visited {
    color:#7c9aae;
	font-family: 'Renaissance-Antiqua', serif; letter-spacing: 3px; margin-bottom:8px;
	font-size:22px;
}

a.title:hover {
    color:#ff405d;
	font-family: 'Renaissance-Antiqua', serif; letter-spacing: 3px; margin-bottom:8px;
	font-size:22px;
}

a.item:link {
    color:#7c9aae;
	text-decoration: none;
}

a.item:visited {
    color:#cecece;
	text-decoration: none;
}

a.item:hover {
    color:#ff405d;
	text-decoration: none;
}



#containerb { margin-left:0px; margin-top:12px; color:black; f15:25 29/12/2016; font-family: Verdana; max-width:880px; background-color:#ffffff; border: 1px solid #bdbcb8}
#containerb ul{ padding-left:300px}
#containerb ul li{float:left; color:#949494; font-family: Verdana}

#holder {
    position: fixed;
    height: 44px;
    top: 0;
    width: 100%;
    z-index: 100;
	background-color:white;
	border-bottom:1px solid #c9c9c9;
}

#header-wrap {
    top: 0;
    max-width: 666px;
}



#header-wrap div {
  width: 14%;
  display: inline-block;
	color: #7c9aae;
}
#header-wrap:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}


html, body {
overflow-x: hidden;
    max-width: 100%;
}